@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;500;700&display=swap");

body {
  background-color: #cad2c5;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
