.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #2f3e46;
  display: flex;
}

.modalContainer {
  border: 1px solid #354f52;
  text-align: center;
  width: auto;
  height: fit-content;
  border-radius: 5%;
  background-color: #cad2c5;
  margin: auto;
}

.modalContainer h2 {
  color: #354f52;
  font-size: 20px;
  margin: 10px;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form label {
  margin-left: 5px;
  text-align: left;
}

.form input {
  width: 50vw;
  margin: 8px;
  height: 20px;
}

.button {
  display: flex;
  justify-content: center;
  gap: 10%;
}
